@mixin linearGrad($top, $bottom) {
  background:
    linear-gradient(
      to bottom,
      $top 0%,
      $bottom 100%
    );
}
$white: #f0f0f0;
$black: #333;
$niceBlue: rgb(34, 183, 246);
$niceYellow: rgb(246, 231, 34);
$radius: 7px;
$transition: all 0.5s linear;
$normalBG: "https://static.pexels.com/photos/211874/pexels-photo-211874.jpeg";
$blurredBG: "http://imgur.com/zTJunpA.jpg";
$mainFont: 'Roboto';
